<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content="Flight Watch"/>
    <meta name="author" content="Flight Watch"/>
    <title>:: Flight Watcher ::</title>

    <link rel="preconnect" href="https://fonts.googleapis.com/"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/aab125e3bb.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/assets/vendors/core/core.css"/>

    <link rel="stylesheet" href="../static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css"/>

    <link rel="stylesheet" href="../static/assets/fonts/feather-font/css/iconfont.css"/>

    <link rel="stylesheet" href="../static/assets/css/style.css"/>

    <link rel="stylesheet" href="../static/assets/css/cutom.css"/>

    <link rel="shortcut icon" href="../static/assets/images/logo.png"/>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">

</head>

<body>
<div class="main-wrapper">
    <nav class="sidebar">
        <div class="sidebar-header">
            <a href="dashboard_view">
                <img src="../static/assets/images/logo.png" alt="logo" class="w-75"/>
            </a>
            <div class="sidebar-toggler not-active">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-body">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/dashboard_view" class="nav-link">
                        <i class="fa-sharp fa-solid fa-gauge"></i>
                        <span class="link-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="/check-flight" class="nav-link">
                        <i class="fa-sharp fa-solid fa-plane"></i>
                        <span class="link-title">Check Flight</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/watchlist" class="nav-link">
                        <i class="fa-regular fa-eye"></i>
                        <span class="link-title">Watchlist</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/graphical-analysis" class="nav-link">
                        <i class="fa fa-bar-chart"></i>
                        <span class="link-title me-2">Graphical Analysis</span>
                        <i class="fa fa-angle-down dropdown-icon mt-1"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="line-graph-menu">
                            <a class="nav-link">
                                <span class="link-title">Line Graph</span>
                            </a>
                        </li>
                        <li class="nav-item" id="dotted-chart-menu">
                            <a class="nav-link">
                                <span class="link-title">Dotted Graph</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-wrapper">
        <nav class="navbar"></nav>
        <div class="gif-loader">
            <img src="../static/assets/images/airplane-loader.gif" alt="">
        </div>

        <div class="page-content" id="pg-content">
            <nav class="page-breadcrumb d-flex align-items-center justify-content-between">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Check Flight
                    </li>
                </ol>
                <a href="dashboard_view" class="btn btn-primary"><i class="link-icon"
                                                                    data-feather="arrow-left"></i>Back to
                    Dahsbaord</a>
            </nav>
            <div class="search-box p-4 bg-white rounded mb-3 box-shadow">
                <!--                    <form class="forms-sample">-->
                <form class="forms-sample" action="{{ url_for('checkFlightView') }}" method="get">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <h5>Check Flight Lists</h5>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <label class="form-label">Search Flight</label><br/>
                            <input type="text" name="search" value="{{ search_query }}"
                                   placeholder="Search by airline name" class="form-control"/>

                        </div>
                        <div class="col-lg-2 col-md-4">
                            <label for="fullname" class="form-label"> Status</label><br/>
                            <select class="form-select form-select-lg">
                                <option selected>Status</option>
                                <option value="1">On Time</option>
                                <option value="2">Delay</option>
                                <option value="3">Cancel</option>
                            </select>
                        </div>
                            <div class="col-lg-3 col-md-4 text-center">
                                <label for="fullname" class="form-label">
                                    Add all to watchlist </label><br />
                                <span class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input"
                                        id="addALL" /></span>
                            </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                            <form action="{{ url_for('addAllToWatchlist') }}" method="POST">
                                <table id="flightTable" class="table">
                                    <thead>
                                    <tr>
                                        <th>S.N</th>
                                        <th>Add to Watchlist</th>
                                        <th>Flight Name</th>
                                        <th>Airline Name</th>
                                        <th>Arrival Time</th>
                                        <th>Departure Time</th>
                                        <th>Status</th>
                                        <th>Future Prediction</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for flight in flights %}
                                    <tr>
                                        <td>{{ (current_page - 1) * flights_per_page + loop.index }}</td>
                                        <td class="text-center">
                                            <span class="form-check form-switch">
                                                <input type="checkbox" name="flightCheckbox"
                                                       value="{{ flight[1] }},{{ flight[0] }},{{ flight[2] }},{{ flight[3] }},{{ flight[4] }}"
                                                                                        class="form-check-input"/></span>
                                        </td>
                                        <td>{{ flight[0] }}</td>
                                        <td>{{ flight[1] }}</td>
                                        <td>{{ flight[2] }}</td>
                                        <td>{{ flight[3] }}</td>
                                        <td>{{ flight[4] }}</td>
                                        <td>{{ flight[5] }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </form>
                            </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        Showing {{ (current_page - 1) * flights_per_page + 1 }} to {{ (current_page - 1) * flights_per_page + flights|length }} of {{ total_flights }} entries
                                    </div>
                                    <div class="col-md-6">
                                        <nav aria-label="Page navigation"  >
                                            <ul class="pagination" >
                                                {% if current_page > 1 %}
                                <!--                <li class="page-item">-->
                                <!--                    <a class="page-link" href="{{ url_for('checkFlightView', page=1, search=search_query) }}">First</a>-->
                                <!--                </li>-->
                                                <li class="page-item">
                                                    <a class="page-link" href="{{ url_for('checkFlightView', page=current_page-1, search=search_query) }}">Previous</a>
                                                </li>
                                                {% endif %}
                                                {% for page_num in range(start_page, end_page + 1) %}
                                                <li class="page-item {% if page_num == current_page %}active{% endif %}">
                                                    <a class="page-link" href="{{ url_for('checkFlightView', page=page_num, search=search_query) }}">{{ page_num }}</a>
                                                </li>
                                                {% endfor %}
                                                {% if current_page < total_pages %}
                                                <li class="page-item">
                                                    <a class="page-link" href="{{ url_for('checkFlightView', page=current_page+1, search=search_query) }}">Next</a>
                                                </li>
                                <!--                <li class="page-item">-->
                                <!--                    <a class="page-link" href="{{ url_for('checkFlightView', page=total_pages, search=search_query) }}">Last</a>-->
                                <!--                </li>-->
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
                            <script>
                                $(document).ready(function () {
                                    $('#flightTable').DataTable({
                                        processing: true,
                                        serverSide: true,
                                        ajax: {
                                            url: '/check-flight',
                                            type: 'GET',
                                            data: function (d) {
                                                d.page = $('#flightTable').DataTable().page.info().page + 1;
                                                d.search = $('input[type="search"]').val();
                                            },
                                        },
                                        columns: [
                                            { data: 'S.N' },
                                            { data: 'Add to Watchlist' },
                                            { data: 'Flight Name' },
                                            { data: 'Airline Name' },
                                            { data: 'Arrival Time' },
                                            { data: 'Departure Time' },
                                            { data: 'Status' },
                                            { data: 'Future Prediction' },
                                        ]
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer
                class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
            <p class="text-muted mb-1 mb-md-0">
                Copyright © 2022
                <a href="https://htmldesigntemplates.com/html/travelin/index.html" target="_blank">Flight
                    Watcher</a>.
            </p>

        </footer>
    </div>
</div>


<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="../static/assets/vendors/core/core.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

<script src="../static/assets/vendors/feather-icons/feather.min.js"></script>
<script src="../static/assets/js/template.js"></script>

<script src="../static/assets/js/datepicker.js"></script>

<script>

    $(document).ready(function () {

        var parentMenu = document.querySelector(".dropdown");
        var subMenus = document.querySelectorAll(".dropdown-menu .nav-item");
        var parentItems = document.querySelectorAll('.nav-item');



        $('.gif-loader').css({  'display': 'flex','justify-content':'center','align-items':'center' });
            setTimeout(() => {
                $('.gif-loader').css({ 'display': 'none' });
                $('#pg-content').css({ 'display': 'flex', 'flex-direction': 'column' })
            }, 2000);

        // Add a click event listener to each submenu
        subMenus.forEach(function (submenu) {
            submenu.addEventListener("click", function () {
                // Remove "highlight" class from all submenus
                subMenus.forEach(function (submenu) {
                    submenu.classList.remove("active");
                });

                // Add "highlight" class to the clicked submenu
                this.classList.add("active");

                // Add "highlight" class to the parent menu
                if (parentMenu) {
                    parentMenu.classList.add("active");
                }
            });
        })


        // parentItems.forEach(function (parentItem) {
        //     parentItem.addEventListener('click', function (event) {
        //         // Toggle the visibility of the sub-menu

        //         var subMenu = parentItem.querySelector('.sub-menu');
        //         if (subMenu) {
        //             event.preventDefault(); // Prevent the default link behavior
        //             subMenu.classList.toggle('show');

        //         }
        //     });
        // });


    })

    // (function () {
    //     var js =
    //         "window['__CF$cv$params']={r:'7db3fb04cd610dad',m:'nxhewYrAtgh3QUG6E5K.44kU.6UwT9CcMVW8k9Ub5bw-1687431552-0-AQvlesnBJnmjTuRlPDfS2VbC5lIBUxUo3W6TAh82CaKr'};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../../../cdn-cgi/challenge-platform/h/b/scripts/jsd/19ad4730/invisible.js',document.getElementsByTagName('head')[0].appendChild(_cpo);";
    //     var _0xh = document.createElement("iframe");
    //     _0xh.height = 1;
    //     _0xh.width = 1;
    //     _0xh.style.position = "absolute";
    //     _0xh.style.top = 0;
    //     _0xh.style.left = 0;
    //     _0xh.style.border = "none";
    //     _0xh.style.visibility = "hidden";
    //     document.body.appendChild(_0xh);
    //     function handler() {
    //         var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
    //         if (_0xi) {
    //             var _0xj = _0xi.createElement("script");
    //             _0xj.nonce = "";
    //             _0xj.innerHTML = js;
    //             _0xi.getElementsByTagName("head")[0].appendChild(_0xj);
    //         }
    //     }
    //     if (document.readyState !== "loading") {
    //         handler();
    //     } else if (window.addEventListener) {
    //         document.addEventListener("DOMContentLoaded", handler);
    //     } else {
    //         var prev = document.onreadystatechange || function () { };
    //         document.onreadystatechange = function (e) {
    //             prev(e);
    //             if (document.readyState !== "loading") {
    //                 document.onreadystatechange = prev;
    //                 handler();
    //             }
    //         };
    //     }
    // })();
    // Wait for the DOM to be fully loaded
    document.addEventListener('DOMContentLoaded', function () {
        // Get the "Add all" checkbox and individual checkboxes
        var addAllCheckbox = document.getElementById('addALL');
        var checkboxes = document.querySelectorAll('.form-check-input');

        // Add event listener to the "Add all" checkbox
        addAllCheckbox.addEventListener('change', function () {
            var isChecked = addAllCheckbox.checked;

            // Update the state of individual checkboxes
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = isChecked;
            });
        });
    });

</script>
<!--checkbox JavaScript code will trigger the form submission automatically.-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener("change", function () {
                if (this.checked) {
                    // Trigger form submission when checkbox is checked
                    this.closest('form').submit();
                }
            });
        });
    });
</script>

</body>

</html>