<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content="Flight Watch"/>
    <meta name="author" content="Flight Watch"/>
    <title>:: Flight Watcher ::</title>

    <link rel="preconnect" href="https://fonts.googleapis.com/"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/aab125e3bb.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/assets/vendors/core/core.css"/>

    <link rel="stylesheet" href="../static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css"/>

    <link rel="stylesheet" href="../static/assets/fonts/feather-font/css/iconfont.css"/>

    <link rel="stylesheet" href="../static/assets/css/style.css"/>

    <link rel="stylesheet" href="../static/assets/css/cutom.css"/>

    <link rel="shortcut icon" href="../static/assets/images/logo.png"/>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">

</head>

<body>
    <!-- Flashed Messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-dismissible fade show" role="alert"
                         style="{% if category == 'error' %}background-color: #f8d7da; color: #721c24;{% elif category == 'success' %}background-color: #d4edda; color: #155724;{% endif %}">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
<div class="main-wrapper">
    <nav class="sidebar">
        <div class="sidebar-header">
            <a href="dashboard_view">
                <img src="../static/assets/images/logo.png" alt="logo" class="w-75"/>
            </a>
            <div class="sidebar-toggler not-active">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-body">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/dashboard_view" class="nav-link">
                        <i class="fa-sharp fa-solid fa-gauge"></i>
                        <span class="link-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="/check-flight" class="nav-link">
                        <i class="fa-sharp fa-solid fa-plane"></i>
                        <span class="link-title">Check Flight</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/watchlist" class="nav-link">
                        <i class="fa-regular fa-eye"></i>
                        <span class="link-title">Watchlist</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/graphical-analysis" class="nav-link">
                        <i class="fa fa-bar-chart"></i>
                        <span class="link-title me-2">Graphical Analysis</span>
                        <i class="fa fa-angle-down dropdown-icon mt-1"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item" id="line-graph-menu">
                            <a class="nav-link">
                                <span class="link-title">Line Graph</span>
                            </a>
                        </li>
                        <li class="nav-item" id="dotted-chart-menu">
                            <a class="nav-link">
                                <span class="link-title">Dotted Graph</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-wrapper">
        <nav class="navbar"></nav>
        <div class="gif-loader">
            <img src="../static/assets/images/airplane-loader.gif" alt="">
        </div>

        <div class="page-content" id="pg-content">
            <nav class="page-breadcrumb d-flex align-items-center justify-content-between">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Check Flight
                    </li>
                </ol>
                <a href="dashboard_view" class="btn btn-primary"><i class="link-icon"
                                                                    data-feather="arrow-left"></i>Back to
                    Dahsbaord</a>
            </nav>
            <div class="search-box p-4 bg-white rounded mb-3 box-shadow">

                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <h5>Check Flight List</h5>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <form class="forms-sample w-100" action="{{ url_for('checkFlightView') }}" method="get"
                              id="search-form">
                            <div class="row">
                                <div class="col-lg-7">
                                    <label class="form-label">Search Flight Name / Airline Name</label><br/>
                                    <input type="text" name="search" id="search-input" value="{{ search_query }}"
                                           placeholder="Search" class="form-control"/>
                                </div>
                                <div class="col-lg-5">
    <label for="fullname" class="form-label">Status</label><br/>
    <select class="form-select form-select-lg" id="status-dropdown" onchange="updateURL()">
        <option value="">Status</option>
        <option value="Arrived / Gate Arrival" {% if selected_status == 'Arrived / Gate Arrival' %}selected{% endif %}>Arrived / Gate Arrival</option>
        <option value="Arrived / Delayed" {% if selected_status == 'Arrived / Delayed' %}selected{% endif %}>Arrived / Delayed</option>
        <option value="Landed / Taxiing" {% if selected_status == 'Landed / Taxiing' %}selected{% endif %}>Landed / Taxiing</option>
        <option value="Arrived" {% if selected_status == 'Arrived' %}selected{% endif %}>Arrived</option>
    </select>
</div>

                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-4 text-center">
                     <form id="toggle-watchlist-form">
                        <label class="form-label">
                            Add all to watchlist
                        </label><br/>
                        <span class="form-check form-switch">
                            <input type="checkbox" id="addAllWatchlist" class="form-check-input"/>

                        </span>
                    </form>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                {% if flights %}

                                    <table id="flightTable" class="table">
                                        <thead>
                                        <tr>
                                            <th>S.N</th>
                                            <th>Add to Watchlist</th>
                                            <th>Flight Name</th>
                                            <th>Airline Name</th>
                                            <th>Arrival Time</th>
                                            <th>Departure Time</th>
                                            <th>Status</th>
                                            <th>Future Prediction</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for flight in flights %}
                                        <tr>
                                            <td>{{ (current_page - 1) * flights_per_page + loop.index }}</td>
                                            <td class="text-center">
                                            <span class="form-check form-switch">
                                                <input type="checkbox" name="flightCheckbox" value="{{ flight[0] }}" class="form-check-input"
                                                       {% if flight[0] in watchlist_ids %}checked{% endif %}
                                                       onclick="toggleWatchlist(this)"/>
                                            </span>
                                            </td>

                                            <td>{{ flight[1] }}</td>
                                            <td>{{ flight[2] }}</td>
                                            <td>{{ flight[3] }}</td>
                                            <td>{{ flight[4] }}</td>
                                            <td>{{ flight[5] }}</td>
                                            <td>{{ flight[6] }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    <div class="text-center">
                                        <p style="font-weight: normal;font-size: 18px;">No data found</p>
                                    </div>
                                    {% endif %}

                            </div>
                            <div class="row mt-3 justify-content-between align-items-center">
                                <div class="col-md-6">
                                    Showing {{ (current_page - 1) * flights_per_page + 1 }} to {{ (current_page - 1) *
                                    flights_per_page + flights|length }} of {{ total_flights }} entries
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {% if current_page > 1 %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="{{ url_for('checkFlightView', page=1, search=search_query) }}">First</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="{{ url_for('checkFlightView', page=current_page-1, search=search_query) }}">Previous</a>
                                            </li>
                                            {% endif %}
                                            {% for page_num in range(start_page, end_page + 1) %}
                                            <li class="page-item {% if page_num == current_page %}active{% endif %}">
                                                <a class="page-link"
                                                   href="{{ url_for('checkFlightView', page=page_num, search=search_query) }}">{{
                                                    page_num }}</a>
                                            </li>
                                            {% endfor %}
                                            {% if current_page < total_pages %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="{{ url_for('checkFlightView', page=current_page+1, search=search_query) }}">Next</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="{{ url_for('checkFlightView', page=total_pages, search=search_query) }}">Last</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
            <p class="text-muted mb-1 mb-md-0">
                Copyright © 2022
                <a href="https://htmldesigntemplates.com/html/travelin/index.html" target="_blank">Flight
                    Watcher</a>.
            </p>

        </footer>
    </div>
</div>

<!-- Start Pagination functionality  code -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#flightTable').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '/check-flight',
                type: 'GET',
                data: function (d) {
                    d.page = $('#flightTable').DataTable().page.info().page + 1;
                    d.search = $('input[type="search"]').val();
                },
            },
            columns: [
                { data: 'S.N' },
                { data: 'Add to Watchlist' },
                { data: 'Flight Name' },
                { data: 'Airline Name' },
                { data: 'Arrival Time' },
                { data: 'Departure Time' },
                { data: 'Status' },
                { data: 'Future Prediction' },
            ]
        });
    });
</script>
<!-- End Pagination functionality  code -->

<!-- Start Search functionality status and search box code -->
<script>
    function updateURL() {
        var selectedStatus = document.getElementById('status-dropdown').value;
        var searchQuery = document.getElementById('search-input').value; // Get the search query if needed
        var url = '{{ url_for("checkFlightView") }}';

        if (selectedStatus) {
            url += '?status=' + encodeURIComponent(selectedStatus);
        }

        if (searchQuery) {
            url += '&search=' + encodeURIComponent(searchQuery);
        }

        window.location.href = url;
    }
</script>
<!-- End Search functionality status and search box code -->


<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="../static/assets/vendors/core/core.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

<script src="../static/assets/vendors/feather-icons/feather.min.js"></script>
<script src="../static/assets/js/template.js"></script>

<script src="../static/assets/js/datepicker.js"></script>

<!-- Start gif loadder and sub menu code -->
<script>

    $(document).ready(function () {

        var parentMenu = document.querySelector(".dropdown");
        var subMenus = document.querySelectorAll(".dropdown-menu .nav-item");
        var parentItems = document.querySelectorAll('.nav-item');



        $('.gif-loader').css({  'display': 'flex','justify-content':'center','align-items':'center' });
            setTimeout(() => {
                $('.gif-loader').css({ 'display': 'none' });
                $('#pg-content').css({ 'display': 'flex', 'flex-direction': 'column' })
            }, 2000);

        // Add a click event listener to each submenu
        subMenus.forEach(function (submenu) {
            submenu.addEventListener("click", function () {
                // Remove "highlight" class from all submenus
                subMenus.forEach(function (submenu) {
                    submenu.classList.remove("active");
                });

                // Add "highlight" class to the clicked submenu
                this.classList.add("active");

                // Add "highlight" class to the parent menu
                if (parentMenu) {
                    parentMenu.classList.add("active");
                }
            });
        })
    })

</script>
<!-- End gif loadder and sub menu code -->

<!-- Start checkbox JavaScript code single checkbox.-->
<script>
function toggleWatchlist(checkbox) {
    var flightId = checkbox.value;
    var isChecked = checkbox.checked;

    // Send AJAX request to update the watchlist
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/toggle-watchlist', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {

            // Display an alert message based on the isChecked value
            if (isChecked) {
                alert('Flight added to  watchlist');
            } else {
                alert('Flight removed from the watchlist');
            }
        }
    };

    xhr.send(JSON.stringify({ flightId: flightId,isChecked: isChecked }));
}
</script>
<!-- End checkbox JavaScript code single checkbox.-->

<!-- Start checkbox JavaScript code add all to checkbox.-->
<script>
document.addEventListener('DOMContentLoaded', function () {
    var addAllCheckbox = document.getElementById('addAllWatchlist');
    var checkboxes = document.querySelectorAll('.form-check-input');

    addAllCheckbox.addEventListener('change', function () {
        var isChecked = addAllCheckbox.checked;

        checkboxes.forEach(function (checkbox) {
            checkbox.checked = isChecked;
        });

        if (isChecked) {
            var flightIds = Array.from(checkboxes)
                .filter(function (checkbox) {
                    return checkbox.checked && checkbox.value !== 'on';
                })
                .map(function (checkbox) {
                    return checkbox.value;
                });

            // Send an AJAX request to add all flights to watchlist
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/add-all-to-watchlist', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    if (isChecked) {
                alert('Flight added to  watchlist');
            } else {
                alert('Flight removed from the watchlist');
            }
                    console.log(xhr.responseText);
                }
            };

            xhr.send(JSON.stringify({ flightIds: flightIds }));
        }
    });
});
</script>

<!-- End checkbox JavaScript code add all to checkbox.-->


</body>

</html>