<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Flight Watch">
    <meta name="author" content="Flight Watch">
    <title>:: Flight Watcher ::</title>

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/aab125e3bb.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="../static/assets/vendors/core/core.css">


    <link rel="stylesheet" href="../static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">


    <link rel="stylesheet" href="../static/assets/fonts/feather-font/css/iconfont.css">


    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/cutom.css">

    <link rel="shortcut icon" href="../static/assets/images/logo.png" />
</head>

<body>
    <div class="main-wrapper">

        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="#">
                    <img src="../static/assets/images/logo.png" alt="logo" class="w-75">
                </a>
                <div class="sidebar-toggler not-active">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="sidebar-body">
                <ul class="nav">
                    <li class="nav-item active">
                        <a href="/flights" class="nav-link">
                            <i class="fa-sharp fa-solid fa-gauge"></i>
                            <span class="link-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="/check-flight" class="nav-link">
                            <i class="fa-sharp fa-solid fa-plane"></i>
                            <span class="link-title">Check Flight</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="/watchlist" class="nav-link">
                            <i class="fa-regular fa-eye"></i>
                            <span class="link-title">Watchlist</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="/graphical-analysis" class="nav-link">
                            <i class="fa fa-bar-chart"></i>
                            <span class="link-title me-2">Graphical Analysis</span>
                            <i class="fa fa-angle-down dropdown-icon mt-1"></i>
                        </a>
                        <ul class="sub-menu"> <!-- Added dropdown menu container -->
                            <li class="nav-item" id="line-graph-menu">
                                <a href="#" class="nav-link">
                                    <span class="link-title">Line Graph</span>
                                </a>
                            </li>
                            <li class="nav-item" id="dotted-chart-menu">
                                <a href="#" class="nav-link">
                                    <span class="link-title">Dotted Graph</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>



        <div class="page-wrapper">

            <nav class="navbar">
                <div class="navbar-content">


                </div>
            </nav>

            <div class="gif-loader">
                <img src="../static/assets/images/airplane-loader.gif" alt="">
            </div>


            <div class="page-content" id="pg-content">
                <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                    <div>
                        <h4 class="mb-3 mb-md-0">Welcome to Flight Dashboard</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-12 stretch-card">
                        <div class="row flex-grow-1">
                            <div class="col-md-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6 col-md-12 col-xl-5 p-50">
                                                <h3 class="mb-2 ">Total Flight</h3>
                                            </div>
                                            <div class="col-6 col-md-12 col-xl-7 p-50">
                                                <h1 class="card-title mb-0"> <span
                                                        class="verify1 bg-primary1">9,500</span></h1>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6 col-md-12 col-xl-5 p-50">
                                                <h3 class="mb-2">Total Airlines</h3>
                                            </div>
                                            <div class="col-6 col-md-12 col-xl-7 p-50">
                                                <h1 class="card-title mb-0"><span
                                                        class="verify1 bg-primary1">10,500</span></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <!-- Total Airlines -->














                <footer
                    class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small"
                    style="margin-top:400px">
                    <p class="text-muted mb-1 mb-md-0">Copyright © 2022 <a href="#" target="_blank">Flight Watcher</a>.
                    </p>

                </footer>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script data-cfasync="false"
            src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="../static/assets/vendors/core/core.js"></script>


        <script src="../static/assets/vendors/chartjs/Chart.min.js"></script>
        <script src="../static/assets/vendors/jquery.flot/jquery.flot.js"></script>
        <script src="../static/assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
        <script src="../static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="../static/assets/vendors/apexcharts/apexcharts.min.js"></script>


        <script src="../static/assets/vendors/feather-icons/feather.min.js"></script>
        <script src="../static/assets/js/template.js"></script>


        <script src="../static/assets/js/dashboard-light.js"></script>
        <script src="../static/assets/js/datepicker.js"></script>

        <script>

            $(document).ready(function () {
                var parentMenu = document.querySelector(".dropdown");
                var subMenus = document.querySelectorAll(".dropdown-menu .nav-item");
                var parentItems = document.querySelectorAll('.nav-item');


                $('.gif-loader').css({ 'display': 'flex','justify-content':'center','align-items':'center' });
                setTimeout(() => {
                    $('.gif-loader').css({ 'display': 'none' });
                    $('#pg-content').css({ 'display': 'flex', 'flex-direction': 'column' })
                }, 2000);

                // Add a click event listener to each submenu
                subMenus.forEach(function (submenu) {
                    submenu.addEventListener("click", function () {
                        // Remove "highlight" class from all submenus
                        subMenus.forEach(function (submenu) {
                            submenu.classList.remove("active");
                        });

                        // Add "highlight" class to the clicked submenu
                        this.classList.add("active");

                        // Add "highlight" class to the parent menu
                        if (parentMenu) {
                            parentMenu.classList.add("active");
                        }
                    });
                })



            })



            // (function () {
            //     var js = "window['__CF$cv$params']={r:'7db3fad59b47077f',m:'rcHL9ZX2tgZS4YyffR6jFj3rHvVLtrT8XDpUxsULDYA-1687431545-0-AW7mK3rsecPVsb7+SALkixxzq4zWa0Djpso70n5CKvkk'};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../../../cdn-cgi/challenge-platform/h/b/scripts/jsd/19ad4730/invisible.js',document.getElementsByTagName('head')[0].appendChild(_cpo);";
            //     var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden';
            //     document.body.appendChild(_0xh); function handler() {
            //         var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
            //         if (_0xi) {
            //             var _0xj = _0xi.createElement('script');
            //             _0xj.nonce = '';
            //             _0xj.innerHTML = js;
            //             _0xi.getElementsByTagName('head')[0].appendChild(_0xj);
            //         }
            //     } if (document.readyState !== 'loading') {
            //         handler();
            //     } else if (window.addEventListener) {
            //         document.addEventListener('DOMContentLoaded', handler);
            //     }
            //     else {
            //         var prev = document.onreadystatechange || function () {

            //         };
            //         document.onreadystatechange = function (e) {
            //             prev(e); if (document.readyState !== 'loading') {
            //                 document.onreadystatechange = prev; handler();
            //             }
            //         };
            //     }
            // })();
        </script>


</body>

</html>